{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'boot/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/solid.css' %}">

    <script src="{% static 'boot/js/bootstrap.js' %}"></script>

    {% block head %}
    {% endblock %}

    {% block meta %}
        <title>Dawn | hypermedia</title>
    {% endblock %}

</head>

<body style="background-color: #000010;">

    <div class="container-fluid p-3" id="window-container">

        <nav class="navbar navbar-dark navbar-expand-md">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img class="navbar-brand-image" src="{% static 'images/dawn.png' %}" width="200">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Submissions</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}
        {% endblock %}
    </div>
</body>