{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}
    <main class="feed col mx-auto">

        {% for post in posts %}
            <article class="post row border border-3 border-white border-glow border-bottom-0 m-0 p-3">

                {% if post.get_model == 'Article' %}

                    <p class="hyper-section">[ {{ post.get_section_display }} ]</p>
                    <h1 class="display-1"><a class="post-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                    
                    <p>
                        by <a class="post-author hyper" href="{{ post.author_url }}" target="_blank">{{ post.author }},<sup><i class="fa-solid fa-up-right-from-square"></i></sup></a>
                        <time datetime="{{ post.publication_date|date:'Y-m-d' }}" class="post-publication-date">{{ post.publication_date }}</time>
                    </p>
                    <p class="post-snippet text-light fs-5">
                        {{ post.rendered_snippet|safe }}
                    </p>
                    {% if post.cover_image %}
                        <img class="img-fluid post-cover-image p-0" src="{{ post.cover_image.image.url }}">
                    {% endif %}

                {% elif post.get_model == 'Image' %}

                    <p class="hyper-section">[ Image ]</p>

                    <a href="{{ post.get_absolute_url }}"><img class="img-fluid hyper" src="{{ post.image.url }}"></a>
                    
                    {% include 'modules/image-caption.html' with image=post %}

                {% endif %}
            </article>
        {% endfor %}

    </main>
{% endblock %}