{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}
    <div class="feed col mx-auto">

        {% for post in posts %}
                <div class="post row border border-bottom-0 border-light border-opacity-25 px-sm-3 py-3">

                    {% if post.get_model == 'Article' %}

                        <p class="post-section">[ {{ post.get_section_display }} ]</p>
                        <h1><a class="post-title hyper" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                        <p>
                            <span class="post-author fw-bolder">{{ post.author }}   </span>
                            <a class="post-author-url hyper small" href="{{ post.author_url }}" target="_blank"><i class="fa-solid fa-link"></i> {{ post.author_url }}</a>
                            <span class="post-publication-date small">&#183; {{ post.publication_date }}</span>
                        </p>
                        <p class="post-content">
                            {{ post.snippet|safe }}
                        </p>
                        {% if post.cover_image %}
                            <img class="img-fluid post-cover-image rounded border border-light border-opacity-25 p-0" src="{{ post.cover_image.image.url }}">
                        {% endif %}

                    {% elif post.get_model == 'Image' %}

                        <p class="post-section">[ Image ]</p>

                        <a href="{{ post.get_absolute_url }}"><img class="img-fluid hyper" src="{{ post.image.url }}"></a>
                        
                        {% include 'modules/image-caption.html' with image=post %}

                    {% endif %}
                </div>
        {% endfor %}

    </div>
{% endblock %}