.dropcap {
    line-height: 0.9;
    font-size: 121px;
    float: left;
    margin-right: 15px;
}

#contentWindow {
    max-width: 992px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
    .dropcap{
        font-size: 101px;
    }
}