.drop-cap {
    line-height: 0.9;
    font-size: 7rem;
    float: left;
    margin-right: 15px;
    text-shadow: -2px 1px #ff00ff, 2px -2px #3cdfff;
}

.section,
.title,
.publication-date,
.cover-image-caption,
.content {
    font-family: goudy-old-style, garamond, "Times New Roman", serif;
}

.author {
    text-decoration: none;
}

.section {
    font-size: 20px;
}

.content {
    max-width: 992px;
    font-size: 24px;
    font-weight: 400;
}

.content > p {
    margin: 22px;
}

.content-image-caption,
.cover-image-caption {
    font-size: 16px;
}

@media only screen and (max-width: 992px) {
    .section {
        font-size: 16px;
    }
    .content {
        font-size: 20px;
    }
}