.dropcap {
    line-height: 0.9;
    font-size: 121px;
    float: left;
    margin-right: 15px;
}

.content {
    max-width: 992px;
}

@media only screen and (max-width: 992px) {
    .drop-cap{
        font-size: 101px;
    }
}