.image-image {
    max-height: 75dvh;
    max-height: 75vh;
    width: auto;
}

.image-caption {
    font-family: goudy-old-style, garamond, "Times New Roman", serif;
}

.section {
    font-size: 20px;
}