:root {
    --background-color: #000010;
    --text-color: white;
}

#window-container {
    color: var(--text-color);
    font-family: goudy-old-style, garamond, "Times New Roman", serif;
}

.navbar {
    background-color: rgba(0, 0, 16, 0.66);
    backdrop-filter: blur(var(--glow-radius));
}

a,
a:link,
a:visited {
    color: inherit;
}