#window-container {
    background: black;
    filter: contrast(88%);
    color: white;
}

.navbar-brand,
.nav-item,
.nav-link {
    font-family: goudy-old-style, garamond, "Times New Roman", serif;
}

.hyper,
.hyper:link,
.hyper:visited {
    text-shadow: 1px 1px #ff00ff, -1px -1px #3cdfff;
    color: white;
    /*text-decoration: none;*/
}

.hyper:active {
    text-shadow: -1px -1px #ff00ff, 1px 1px #3cdfff;
    color:white;
}

h1 .hyper {
    text-decoration: none;
}