.drop-cap {
    line-height: 0.9;
    font-size: 7rem;
    float: left;
    margin-right: 15px;
    text-shadow: 1px 1px #ff00ff, -1px -1px #3cdfff;
}

.title,
.publication-date,
.content {
    font-family: goudy-old-style, garamond, "Times New Roman", serif;
}


.content {
    font-size: 25px;
    font-weight: 400;
}

@media only screen and (max-width: 992px) {
    .content {
        font-size: 20px;
    }
}