{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>{{ article.title }}</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock %}

{% block body %}
    <div class="row my-5 px-md-5 px-3">

        <div class="col-md text-center px-5 my-5">
            <p class="section">[ {{ article.get_section_display }} ]</p>
            <h1 class="title display-1">{{ article.title }}</h1>
            <p>
                <a class="author hyper fw-bolder" href="{{ article.author_url }}" target="_blank"><i class="fa-solid fa-link small"></i> {{ article.author }}</a>
                <span class="publication-date">&#183; {{ article.publication_date }}</span>
            </p>
        </div>
        <div class="col-md d-flex align-items-center p-0">
            {% if article.cover_image %}
                <div class="row p-0">
                    <img class="img-fluid cover-image" src="{{ article.cover_image.image.url }}">
                    <p class="cover-image-caption pt-2">{{ article.cover_image.caption|safe }}</p>
                </div>
            {% endif %}
        </div>

    </div>

   <div class="row">
       <div class="col-lg-1">
       </div>
       <div class="col-lg-8 content p-sm-4 my-5">
           <p>{{ article.rendered_content|safe }}</p>
           <p class="text-end"><a class="hyper" href="#"><i class="fa-solid fa-square"></i></a></p>
       </div>
       <div class="col-lg-3">

       </div>
    </div>

{% endblock %}