{% extends "base.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block meta %}
    <title>{{ article.title }}</title>
    <meta name="title" content="{{ article.title }}">
    <meta name="author" content="{{ article.author_name }}">
    <meta name="description" content="{{ article.description }}">
    <meta name="keywords" content="{{ article.keywords }}">
    <link rel="canonical" href="https://dawnhyper.media{{ article.get_absolute_url }}">

    <meta name="og:title" content="{{ article.title }}">
    <meta name="og:description" content="{{ article.description }}">
    <meta name="og:image" content="{{ article.cover_image.image.url }}">
    <meta name="og:url" content ="https://dawnhyper.media{{ article.get_absolute_url }}">
    <meta name="og:site_name" content="Dawn Hypermedia">
    <meta name="og:type" content="article">
    <meta name="article:author" content="{{ article.author_name }}">
    <meta name="article:published_time" content="{{ article.publication_date|date:'Y-m-d' }}">
    <meta name="article:keywords" content="{{ article.keywords }}">
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock %}

{% block body %}
    <header class="row m-0 p-3">

        <div class="col-md text-center align-self-center">
            <p class="hyper-section">[ {{ article.get_type_display }} ]</p>
            <h1 class="title display-1">{{ article.title }}</h1>
            <p>
                <a class="hyper-link" href="{{ article.author_url }}" target="_blank">{{ article.author_name }},</a>
                <time datetime="{{ article.publication_date|date:'Y-m-d' }}" class="publication-date">{{ article.publication_date }}</time>
            </p>
        </div>
        {% if article.cover_image %}
        <div class="col-md d-flex align-items-center">
            {% if article.cover_image %}
                <div class="row">
                    <img class="img-fluid cover-image" src="{{ article.cover_image.image.url }}">
                    <small class="cover-image-caption">{{ article.cover_image.rendered_caption|safe }}</small>
                </div>
            {% endif %}
        </div>
        {% endif %}

    </header>

   <main class="row m-0 p-3">
       <div class="col-lg-2"></div>

       <div id="contentWindow" class="col-lg-7 fs-4">
            <hr>
            {{ article.rendered_content|safe }}
            <a class="hyper float-end fs-1" href="#"><i class="fa-solid fa-circle"></i></a>
       </div>

       <div class="col-lg-3"></div>
    </main>

{% endblock %}