#window-container {
    /* filter: contrast(88%); */
    color: white;
    min-height: 100dvh;
    min-height: 100vh;
}

.hyper,
.hyper:link,
.hyper:visited {
    text-shadow: -1px 0px #ff00ff, 1px -1px #3cdfff;
    color: white;
}

.navbar-brand-image {
    backdrop-filter: blur(15px);
}

.hyper:hover {
    text-decoration: underline;
}

.hyper:active {
    text-shadow: -2px -1px #ff00ff, 2px -2px #3cdfff;
    color:white;
}

h1 .hyper {
    text-decoration: none;
}