#window-container {
    color: white;
    font-family: goudy-old-style, garamond, "Times New Roman", serif;
    min-height: 100dvh;
    min-height: 100vh;
}

.hyper,
.hyper:link,
.hyper:visited {
    text-shadow: -1px 0px #f0f, 1px -1px #0ff, 0 0 3px white;
    color: white;
}

.hyper:hover {
    text-decoration: underline;
}

.hyper:active {
    text-shadow: -2px -1px #f0f, 2px -2px #0ff;
    color:white;
}

.hyper-border {
    box-shadow:
    0 0 15px 5px rgba(0, 255, 255, 0.2),
    inset 0 0 15px 5px rgba(0, 255, 255, 0.2); 
}

.hyper-medium {
    text-shadow: 0 0 15px #0ff;
}

.navbar {
    mask: linear-gradient(black, black, transparent);
    backdrop-filter: blur(30px);
}

.nav-link {
    color: white !important;
}

h1 .hyper {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .navbar {
        mask: none;
    }
}