.feed {
    max-width: 576px;
}

.post {
    font-family: goudy-old-style, garamond, "Times New Roman", serif;
    font-size: 18px;
}

.post-author-url {
    text-decoration: none;
}

.post-content > * > .hyper {
    text-decoration: underline !important;
}